{% extends 'base.twig' %}

{% block body %}
    <div class="container masthead">
        <h1 class="mb-3">Administration des articles</h1>
        {% if app.request.query.get('success') is defined %}
            <div class="alert alert-success">Vous êtes connecté</div>
        {% endif %}
        <a href="/MyBlog/admin/posts/create" class="btn btn-success my-3"> Créer un nouvel article</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Publié le</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for post in posts %}
                    <tr>
                        <th scope="row">{{ post.id }}</th>
                        <td>{{ post.title }}</td>
                        <td>{{ post.getCreatedAt() }}</td>
                        <td>
                            <a href="./posts/edit/{{ post.id }}" class="btn btn-warning">Modifier</a>
                            <form action="./posts/delete/{{ post.id }}" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
